<html>
     <head>
         <meta charset="utf-8">
         <title>Home</title>
         <meta name="viewport" content="width=device-width,initial-scale=1">
         {% load static %}
         <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
     </head>
    <body>
         <div class="container">
             <div class="navbar navbar-default" role="navigation">
                 <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="sr-only">Toggle navigation</span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                     </button>
                     <a class="navbar-brand" href="#">Project name</a>
                 </div>
                 <div class="navbar-collapse collapse">
                     <ul class="nav navbar-nav">
                     </ul>
                 </div>
             </div>
     <div class="jumbotron">
         <h1>Welcome to MAKED!</h1>
<p style="text-align: right;">The framework for automated AI testing.</p>
     </div>
     <div>
 <div class="multicolumn5 clearfix">
 <div class="column" style="width: 20%; float: left;">
         <h2><strong>M</strong><sub>odel</sub></h2>
 <p>...</p>
 </div>
  <div class="column" style="width: 20%; float: left;">
         <h2><strong>A</strong><sub>ttack</sub></h2>
 <p>...</p>
 </div>
 <div class="column" style="width: 20%; float: left;">
         <h2><strong>K</strong><sub>nowledge</sub></h2>
 <p>...</p>
 </div>
 <div class="column" style="width: 20%; float: left;">
         <h2><strong>E</strong><sub>xperience</sub></h2>
 <p>...</p>
 </div>
 <div class="column" style="width: 20%; float: left;">
         <h2><strong>D</strong><sub>ata</sub></h2>
 <p>...</p>
 </div>
 </div>
     </div>
 
         </div>
         <script src="{% static 'js/jquery.min.js' %}"></script>
         <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
